body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50vw;
    height: 70vh;
    background-color: #000;
    border: 1px solid #ccc;
    text-align: center;
    padding: 20px;
}